@media only screen and (max-width: 1024px) {
	.nav-list, .intro-scroll {
		display: none;
	}

	.navbar__menu {
		display: block;
		
	}

	.intro-img {
		width: 50%;
	}

	.intro-scroll {
		width: 20px;
	}
}

@media only screen and (max-width: 875px) {
	.page__head {
		font-size: 1.5em;
	}

	.intro-img {
		width: 80%;
	}

	.page {
		&__head{
			font-size: 2em;
		}

		&__subhead {

		}
	}

	.features-list {
		flex-direction: column;
		align-items: center;
		
		&__item {
			width: 80%;
		}

		&__item + &__item {
			padding-top: 2.2em;
		}
	}

	.wrapper-team {
		padding: 6em 0 4em;
	}

	.team-list {
		flex-direction: column;
		align-items: center;

		&__item {
			width: 80%;
		}

		&__item + &__item {
			padding-top: 4em;
		}
	}

	.btn {
		width: 70%;
	}
}
