<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body>

{{> sprite }}

<div class="page">
	<div class="container">
		{{> header }}

		{{> intro }}
	</div>	

	<div class="wrapper-features">
		<div class="container">
			{{> features }}
		</div>
	</div>

	<div class="wrapper-team">
		<div class="container">
			{{> team }}
		</div>
	</div>

	<div class="wrapper-offer">
		<div class="container">
			{{> offer }}
		</div>
	</div>

	<div class="wrapper-footer">
		<div class="container">
			{{> footer }}
		</div>
	</div>
</div>

</body>
</html>
