<div class="features">
	<ul class="features-list">
		<li class="features-list__item">
			<svg class="features-list__icon">
				<use xlink:href="#calendar"></use>
			</svg>

			<p class="page__text features-list__text">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic non nihil doloremque nesciunt laborum vitae. Eum provident veritatis, esse ex quaerat vero sit amet
			</p>
		</li>

		<li class="features-list__item">
			<svg class="features-list__icon">
				<use xlink:href="#headset"></use>
			</svg>

			<p class="page__text features-list__text">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione rerum maiores veniam sapiente asperiores eaque neque voluptate sit dignissimos, earum
			</p>
		</li>

		<li class="features-list__item">
			<svg class="features-list__icon">
				<use xlink:href="#smartphone"></use>
			</svg>

			<p class="page__text features-list__text">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio perspiciatis mollitia similique ratione eveniet, repellat numquam quae expedita error  ullam modi
			</p>
		</li>
	</ul>
	<!-- /.features-list -->
</div>
<!-- /.features -->