<div class="team">
	<ul class="team-list">
		<li class="team-list__item">
			<figure class="page-figure">
				<img
				class="page-figure__img"
				src="assets/img/team/team-jane.png"
				alt="user picture">

				<blockquote class="page-figure__quote">
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas tenetur totam, dolore</p>
				</blockquote>

				<figcaption class="page-figure__caption">- Jane Doe </figcaption>
			</figure>
		</li>

		<li class="team-list__item">
			<figure class="page-figure">
				<img
				class="page-figure__img"
				src="assets/img/team/team-john.png"
				alt="user picture">

				<blockquote class="page-figure__quote">
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas tenetur totam, dolore</p>
				</blockquote>

				<figcaption class="page-figure__caption">- John Doe </figcaption>
			</figure>
		</li>
	</ul>
	<!-- /.team-list -->
</div>
<!-- /.team -->